    <div class="rightdiv">
        <input id="keyword" type="text" style="width:70%;height:25px"/><input id="sbmSearch" type="button" value="搜索" style="width:28%;height:25px"/>
    </div>
    <div class="rightdiv button button_bg">
            <span id="has_question" class="sizemiddle hand ">我要提问</span>      
    </div>
    <div class="module_type">
        <div class="titlediv">
            模块分类    
        </div>
        <ul class="list">
        @foreach (var i in ViewBag.TypeList) 
        {
            <li class="type" onclick="SelectType(@i.Id)">@i.typename</li>
        }  
            <li class="type" onclick="SelectType(-1)">全部</li>             
        </ul>
    </div> 
    <br />
  @*  <div class="module_type">
        <div class="titlediv">
            模块分类    
        </div>
        <ul class="list">
        @foreach (var i in ViewBag.TypeList) 
        {
            <li class="type">@i.typename</li>
        }               
        </ul>
    </div>      
    <div class="clear"></div>*@
<script type="text/javascript">

    $("#sbmSearch").click(function () {
        SearchQuestion($("#keyword").val(),1);
    });
    function SelectType(o)
    {
        $("#module").val(o);
        QuestionPaging();
    }
    $("#has_question").click(function () {
        window.location.href = '@Url.Action("AskQuestion")';
    });
</script>